@font-face {
  font-family: JB-Bold;
  src: url(SF-Pro-Display-Medium.ttf);
}
@font-face {
  font-family: JB-Regular;
  src: url(SF-Pro-Display-Regular.ttf);
}
@font-face {
  font-family: JB-Light;
  src: url(JetBrainsMono-Light.ttf);
}

html {
  max-width: 1200px;
  display: grid; 
  grid-row: 2;
  font-family: 'JB-Regular';
  justify-content: center;
  background-color: #d8d8d8;
  color: #000;
  scroll-padding: 5;
  scroll-behavior: smooth;
}

@media (max-width: 576px){
	html{
		padding: 20px;
	}
}

nav {
 display: flex;
  color: #000;

}

nav a {
  font-size: 18px;
  
  margin-right: 5px;
}

ul, li {
  list-style: none;
  font-size: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: "JB-Bold";
}

p {
  font-family: "JB-Regular";
  font-size: 20px;
}

a {
  font-family: 'JB-Regular';
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  background-color: #000;
  color: #d8d8d8;
}

article {
  max-width: 800px;
  padding-bottom: 20px;
}

footer {
  font-family: 'JB-RegularJ';
  bottom: 0;
}
