@font-face {
  font-family: JB-Bold;
  src: url(SF-Pro-Display-Medium.ttf);
}
@font-face {
  font-family: JB-Regular;
  src: url(SF-Pro-Display-Regular.ttf);
}
@font-face {
  font-family: JB-Light;
  src: url(JetBrainsMono-Light.ttf);
}

html {
  display: grid; 
  grid-row: 2;
  font-family: 'JB-Regular';
  justify-content: center;
  background-color: #d8d8d8;
  color: #000;
  scroll-padding: 5;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: start;
}

nav a {
  padding: 10px; 
}

h1, h2, h3, h4, h5 {
  font-family: "JB-Bold";
}

p {
  font-family: "JB-Regular"
}

a {
  font-family: 'JB-Regular';
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

article {
  max-width: 800px;
}

footer {
  font-family: 'JB-RegularJ';
  bottom: 0;
  justify-content: center;
}
